// Color Variables
$bsh-blue: #033F63
$yellow-gold: #DEBA6F
$tertiary-color: #955f26
$bg-color: #e1c1a4

// Global Variable Selector
*
	margin: 0
	padding: 0
	box-sizing: border-box

h1
	color: $bsh-blue

h3, h4
	color: $bsh-blue
	text-align: center
	margin: 2% 0

p
	color: rgba(94, 94, 94)
	font-size: 20px

hr
	border-style: none
	border-top-style: dotted
	border-width: 6px
	border-color: $bg-color
	width: 8%
	margin: 2.5% auto

// remove padding from image
.img-sm > .col-4
	padding: 0 2px
	margin-top: 2px

.img-lg > .col-12
	padding: 0 2px 2px

.img-lg-collage
	margin-top: 10px

// google map
iframe
	width: 100%

//navbar & footer
.navbar-brand
	display: inline-block
	width: 20%

.nav-bsh-logo
	width: 45px
	border-radius: 50%

.navbar-custom, .footer-copyright
	background-color: $tertiary-color
	color: white

// footer-icons
.fa-2x
	margin: 0 20px

.fa-facebook-square:hover, .fa-instagram:hover, .fa-youtube-square:hover
	color: $yellow-gold
	text-decoraration: none

// landing page
#landing-page
	margin-top: 32px


// jumbotron
.jumbotron
	background-color: #fff


// about-us

.vision-img,
.mission-img,
.vision-p,
.mission-p
	margin-bottom: 5px

//buttons
.btn-std
	background-color: $yellow-gold
	border-radius: 20px
	border: 1px solid $bg-color
	display: inline-block
	cursor: pointer
	color: $bsh-blue
	font-family: Arial
	font-size: 17px
	padding: 5px 10px
	text-decoration: none
	text-shadow: 0px 1px 0px #a8a8a8

.btn-std:hover
	background-color: $tertiary-color
	text-decoraration: none

.btn-std:active
	position: relative
	top: 1px

//anchors
a, a:visited, a:hover, a:active
	color: inherit
	text-decoration: none


//card
.card-txt
	height: 100px

// Contact form
h2
	text-align: left
	color: #a8a8a8
	text-shadow: 1px 1px 0 rgba(white, 1)

input, textarea
	border: 1px solid #a8a8a8
	outline: 0
	padding: 1em
	border-radius: 8px
	display: block
	width: 100%
	margin-top: 1em
	// box-shadow: 0 1px 1px rgba(black, 0.1)
	resize: none

	&:focus
		box-shadow: 0 0 2px $tertiary-color

#input-submit
	color: $bsh-blue
	background-color: $yellow-gold
	cursor: pointer
	font-family: Arial
	font-size: 20px
	text-shadow: 0px 1px 0px #a8a8a8
	margin-bottom: 1em

	&:hover
		background-color: $tertiary-color
		color: white
		box-shadow: 0 1px 1px 1px rgba(#aaa, 0.6)

textarea
	height: 205px

.half
	float: left
	width: 48%
	margin-bottom: 1em

.right
	width: 50%

.left
	margin-right: 2%

@media (max-width: 480px)
	.half
		width: 100%
		float: none
		margin-bottom: 0

// form clearfix
.cf:before, .cf:after
	content: " "
	display: table

.cf:after
	clear: both

.company-details > p
	color: rgba(94, 94, 94)
	font-size: 20px

.company-tel
	color: $bsh-blue
	margin: 2% 0
	text-align: left

// carousels
.carousel-img
	margin-top: 8%

// dropdown
.dropdown-item
	color: $bsh-blue

.dropdown:hover
	color: $bg-color

// testimonials

.testimonial-img
	border-radius: 50%
	border: 3px solid white

.testimonial-card
	background-color: $bg-color

// product-list
.mb-0
	text-align: center
.mb-1
	font-size: 1em

.btn-product
	text-align: center

.card-product
	background-color: $bg-color

// gallery modal
.modal-body > .img-modal
	display: block
	margin: 0 auto


