* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: #033F63;
}

h3, h4 {
  color: #033F63;
  text-align: center;
  margin: 2% 0;
}

p {
  color: #5e5e5e;
  font-size: 20px;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 6px;
  border-color: #e1c1a4;
  width: 8%;
  margin: 2.5% auto;
}

.img-sm > .col-4 {
  padding: 0 2px;
  margin-top: 2px;
}

.img-lg > .col-12 {
  padding: 0 2px 2px;
}

.img-lg-collage {
  margin-top: 10px;
}

iframe {
  width: 100%;
}

.navbar-brand {
  display: inline-block;
  width: 20%;
}

.nav-bsh-logo {
  width: 45px;
  border-radius: 50%;
}

.navbar-custom, .footer-copyright {
  background-color: #955f26;
  color: white;
}

.fa-2x {
  margin: 0 20px;
}

.fa-facebook-square:hover, .fa-instagram:hover, .fa-youtube-square:hover {
  color: #DEBA6F;
  text-decoraration: none;
}

#landing-page {
  margin-top: 32px;
}

.jumbotron {
  background-color: #fff;
}

.vision-img,
.mission-img,
.vision-p,
.mission-p {
  margin-bottom: 5px;
}

.btn-std {
  background-color: #DEBA6F;
  border-radius: 20px;
  border: 1px solid #e1c1a4;
  display: inline-block;
  cursor: pointer;
  color: #033F63;
  font-family: Arial;
  font-size: 17px;
  padding: 5px 10px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #a8a8a8;
}

.btn-std:hover {
  background-color: #955f26;
  text-decoraration: none;
}

.btn-std:active {
  position: relative;
  top: 1px;
}

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

.card-txt {
  height: 100px;
}

h2 {
  text-align: left;
  color: #a8a8a8;
  text-shadow: 1px 1px 0 white;
}

input, textarea {
  border: 1px solid #a8a8a8;
  outline: 0;
  padding: 1em;
  border-radius: 8px;
  display: block;
  width: 100%;
  margin-top: 1em;
  resize: none;
}
input:focus, textarea:focus {
  box-shadow: 0 0 2px #955f26;
}

#input-submit {
  color: #033F63;
  background-color: #DEBA6F;
  cursor: pointer;
  font-family: Arial;
  font-size: 20px;
  text-shadow: 0px 1px 0px #a8a8a8;
  margin-bottom: 1em;
}
#input-submit:hover {
  background-color: #955f26;
  color: white;
  box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
}

textarea {
  height: 205px;
}

.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right {
  width: 50%;
}

.left {
  margin-right: 2%;
}

@media (max-width: 480px) {
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
}
.cf:before, .cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.company-details > p {
  color: #5e5e5e;
  font-size: 20px;
}

.company-tel {
  color: #033F63;
  margin: 2% 0;
  text-align: left;
}

.carousel-img {
  margin-top: 8%;
}

.dropdown-item {
  color: #033F63;
}

.dropdown:hover {
  color: #e1c1a4;
}

.testimonial-img {
  border-radius: 50%;
  border: 3px solid white;
}

.testimonial-card {
  background-color: #e1c1a4;
}

.mb-0 {
  text-align: center;
}

.mb-1 {
  font-size: 1em;
}

.btn-product {
  text-align: center;
}

.card-product {
  background-color: #e1c1a4;
}

.modal-body > .img-modal {
  display: block;
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
